/* Change colors in this file to style to your needs on a global level. 
Certain colors are used for different and multiply types of elements. 
For greater control over colors visit each components .scss file. */

// button colors
$buttonColor: #55198b;
$buttonHover: #8c43ce;
$topButtonHover: #000;

// text colors light theme
$titleColor: #000000;
$textColor: #000000;
$subTitle: #868e96;
$cardSubtitle: #666666;
$talkCardSubTitle: #7f8287;
$blogCardTitleColor: #262626;

// text color dark theme
$textColorDark: #ffffff;

// toggle switch colors
$toggleCheck: #2196f3;
$toggleSwitchSliderBG: #ccc;

// githubRepo specific colors
$githubRepoCardLanguageColorBG: #0000ff;
$githubRepoCardColor: rgb(88, 96, 105);
$githubRepoCardRepoCardStatsColor: rgb(106, 115, 125);
$githubRepoCardRepoNameColor: rgb(36, 41, 46);
$githubProfileCardLocationTS: #ffebcd;
$githubProfileCardBorder: #6c63ff;

// light background colors
$lightBackground1: #fff;
$lightBackground2: rgb(255, 255, 255);
$lightBackground3: #f5f2f4;
$blogCardContainerColor: #586069;
// dark background colors
$darkBackground: #171c28;

// light theme box shadows
$lightBoxShadowDark: rgba(0, 0, 0, 0.2);
$lightBoxShadow: rgba(0, 0, 0, 0.1);
$lightBoxShadowDarker: rgba(0, 0, 0, 0.3);

// dark theme box shadows
$darkBoxShadow: #d9dbdf;
$darkBoxShadow2: #ffffff;

// linear gradients
$experienceCardBlurredDivLG: linear-gradient(
  rgba(0, 0, 0, 0.4),
  rgba(0, 0, 0, 0.2)
);
$experienceCardBannerLG: linear-gradient(
  rgba(0, 0, 0, 0.7),
  rgba(0, 0, 0, 0.5)
);

// borders
$progressBarBackground: rgb(243, 239, 239);
$lightBorder1: rgba(211, 211, 211, 0.397);
$educationCardBorder: #a9a7f9;

// hovers
$achievementCertificateCardHoverDark: rgba(255, 255, 255, 0.2);
$blogCardHoverSmallColor: rgba(255, 255, 255, 0.8);
$headerHoverBG: #f4f4f4;
$contactDetailHoverTS: #b5b5b5;

// misc backgrounds
$progressBarSpanBG: #aaa5ff;
$iconBackground: #333;
$appHeaderBG: #282c34;

// misc colors
$skillsColor: #645beb;
$appLink: #09d3ac;

// social media icons
$faceBook: #3b5998;
$linkedin: #0e76a8;
$github: #333;
$gitlab: #fca326;
$google: #ea4335;
$twitter: #1da1f2;
$medium: #000;
$stackoverflow: #f48024;
$instagram: #c13584;
$kaggle: #20beff;


/* SCSS HEX */
$oxford-blue: #0a1128ff;
$penn-blue: #001f54ff;
$indigo-dye: #034078ff;
$cerulean: #1282a2ff;
$white: #fefcfbff;

/* SCSS HSL */
$oxford-blue: hsla(226, 60%, 10%, 1);
$penn-blue: hsla(218, 100%, 16%, 1);
$indigo-dye: hsla(209, 95%, 24%, 1);
$cerulean: hsla(193, 80%, 35%, 1);
$white: hsla(20, 60%, 99%, 1);

/* SCSS RGB */
$oxford-blue: rgba(10, 17, 40, 1);
$penn-blue: rgba(0, 31, 84, 1);
$indigo-dye: rgba(3, 64, 120, 1);
$cerulean: rgba(18, 130, 162, 1);
$white: rgba(254, 252, 251, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-right: linear-gradient(90deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-bottom: linear-gradient(180deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-left: linear-gradient(270deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-top-right: linear-gradient(45deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-bottom-right: linear-gradient(135deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-top-left: linear-gradient(225deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-bottom-left: linear-gradient(315deg, #0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
$gradient-radial: radial-gradient(#0a1128ff, #001f54ff, #034078ff, #1282a2ff, #fefcfbff);
